.about_section{
    padding-left:8%;
    margin-top:5%;
}
.about_section #name{
    color:aqua;
    font-family: Nunito;
    font-weight: 900;
    font-size: clamp(3rem,3vw,6rem);
    margin: 0px;
}
.about_section .about_start{
    color:white;
    font-size: clamp(1.3rem,1.7vw,3rem);
    margin-right:50px;
}
.qualifications{
    display: flex;
    flex-direction: row;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.qualifications p{
    display: flex;
    flex-direction: column;
    margin:auto 50px auto 0px;
    font-size: clamp(1.5rem,1.7vw,3rem);
}
@media (max-width:450px){
    .qualifications p{
        margin:auto 5% auto 0px;
    }
}
.qualifications p:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul{
    list-style: none;
    padding-left:0px;
}
ul li{
    margin:5px auto 20px auto;
    font-size: clamp(1.3rem,1.7vw,3rem);
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.time_line{
    margin: 0px;
    font-family: Nunito;
    font-weight: 800;
}