.main_class{
    overflow: hidden;
}
.profile_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #20232F;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
@media (max-width:970px){
    .profile_section{
        display: flex;
        flex-direction: column-reverse;
    }
}