.profile_details{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left:18%;
    padding-top:40px;
    background-color: #20232F;
    overflow-x: hidden;
}
@media screen and (max-width:970px) {
    .profile_details{
        padding-left: 8%;
        padding-top: 0;
        height: 500px;
    }
}
@media screen and (max-width:570px) {
    .profile_details{
        padding-left: 8%;
        padding-top: 0;
        height: 510px;
    }
}
.greet{
    font-size: clamp(2rem,3vw,6rem);
    margin-bottom: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.name{
    font-size: clamp(4rem,4vw,10rem);
    color:aqua;
    margin-top:0px;
    margin-bottom: 10px;
    font-family: Kalnia;
    font-weight: 900;
}
.work{
    font-size: clamp(2rem,3vw,6rem);
    margin-top: 0px;
    color:white;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.work_{
    color:aqua;
    font-family: kalnia;
    font-weight: 600;
}
.brief_about{
    color:white;
    font-size: clamp(1.1rem,1.5vw,2rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    padding:0px 28px 0px 0px;
}
.about_small{
    font-size: clamp(1.3rem,3vw,6rem);
    line-height: 1.6;
    margin-top:0px;
    color:white;
}
.profile_links{
    color:aqua;
    display: flex;
    margin: 0px;
    align-items: center;
}
.icon_{
    font-size: clamp(2rem,3vw,6rem);
    color:aqua;
    height: fit-content;
    margin-right:30px;
    margin-left:0px;
    transform: scale(1);
    transition: all ease .3s;
}
.profile_links .icon_:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.main_buttons{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.button_cv{
    background-color: transparent;
    border:1px solid aqua;
    width:fit-content;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px 20px 10px 0px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 0 2px 2px 0 rgb(5, 193, 235), 0 2px 2px 0 rgb(5, 193, 235);
    transition: all 0.3s ease;
    padding:2% 4%;
}
.button_cv a{
    display: flex;
    text-decoration: none;
    margin-left:auto;
    font-size: clamp(1.3rem,2vw,3rem);
    color:aqua;
    font-weight: 400;
    font-family: sans-serif;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.button_cv2{
    background-color: aqua;
    border:1px solid black;
    width:fit-content;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px 20px 10px 0px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 0 2px 2px 0 rgb(5, 193, 235), 0 2px 2px 0 rgb(5, 193, 235);
    transition: all 0.3s ease;
    padding:2% 4%;
}
.button_cv2 a{
    display: flex;
    text-decoration: none;
    margin-left:auto;
    font-size: clamp(1.3rem,2vw,3rem);
    color:black;
    font-weight: 400;
    font-family: sans-serif;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
}
.button_cv:hover{
    background-color: aqua;
    font-size:1.6rem;
    transform: scale(1.05);
    /* box-shadow: 0 2px 2px 0 rgba(244, 242, 242, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.959); */

}
.button_cv2:hover{
    transform: scale(1.05);
    /* box-shadow: 0 2px 2px 0 rgba(244, 242, 242, 0.2), 0 2px 2px 0 rgba(255, 255, 255, 0.959); */

}
.button_cv a:hover{
    color:black;
}
@media screen and (max-width:540px) {
    .greet{
        font-size:1.8rem;
    }
    .name{
        font-size:3rem;
    }
    .work{
        font-size: 1.8rem;
    }
    .button_cv{
        font-size: 1.3rem;
        width:9rem;
    }  
    .button_cv a{
        font-size: 1.2rem;
    } 
    .button_cv2{
        font-size: 1.3rem;
        width:9rem;
    }  
    .button_cv2 a{
        font-size: 1.2rem;
    } 
}
@media screen and (max-width:410px) {
    .greet{
        font-size:1.8rem;
    }
    .name{
        font-size:3rem;
    }
    .work{
        font-size: 1.5rem;
    }
    .brief_about{
        font-size: 1rem;
    }
    .button_cv{
        font-size: 1.3rem;
        /* width:9rem; */
        padding:10px 5px;
    }  
    .button_cv a{
        font-size: 1.2rem;
    } 
    .button_cv2{
        font-size: 1.3rem;
        padding:10px 5px;
    }  
    .button_cv2 a{
        font-size: 1.2rem;
    } 
}