.skill_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:2rem 8rem;
}
@media (max-width:900px){
    .skill_div{
        grid-template-columns: 1fr;
        padding:2rem 5rem;
    }
}
.skill_div .skill_box{
    display: grid;
    grid-template-columns: 80px 1fr;
    margin:20px;
    height: 80px;
}
@media (max-width:600px){
    .skill_div{
        padding:2rem 2rem;
    }
    .skill_div .skill_box{
        grid-template-columns: 0.2fr 0.8fr;
    }
}
@media (max-width:500px){
    .skill_div{
        padding:2rem 10px;
    }
    .skill_div .skill_box{
        grid-template-columns: 0.3fr 0.8fr;
    }
}
.skill_box .skill_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    border:1px solid black;
}
.skill_box .skill_img img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 99;
}
.skill_box .skill_name{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-left:-10px;
    border-radius: 0px 10px 10px 0px;
    z-index: -1;
}
.skill_bar{
    height: 10px;
    width: 100%;
    background-color: rgb(65, 61, 61);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform:translateY(30px);
}
.skill_percentage{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    margin:auto 30px auto 30px;
    top:10px;
    font-weight: 600;
}
#last_box{
    display: flex;
    justify-content: center;
    border:1px solid black;
}
.last_img{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border:1px solid black;
    padding:20px;
    font-size: 1.5rem;
    font-family: Nunito;
    font-weight: 800;
}
